@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: url(../public/painting-mountain-lake-with-mountain-background_188544-9126.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track{
    background: #000;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}